<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AccountControllerByAdmin</servlet-name>
        <servlet-class>controller.auth.AccountControllerByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseManageController</servlet-name>
        <servlet-class>controller.common.CourseManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCourseInsController</servlet-name>
        <servlet-class>controller.common.DetailCourseInsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChapterManageController</servlet-name>
        <servlet-class>controller.common.ChapterManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonManageController</servlet-name>
        <servlet-class>controller.common.LessonManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizManageController</servlet-name>
        <servlet-class>controller.common.QuizManageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseManageController</servlet-name>
        <url-pattern>/courseManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCourseInsController</servlet-name>
        <url-pattern>/detailCourseIns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChapterManageController</servlet-name>
        <url-pattern>/chapterManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonManageController</servlet-name>
        <url-pattern>/lessonManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizManageController</servlet-name>
        <url-pattern>/quizManage</url-pattern>
    </servlet-mapping>
</web-app>
